    <footer>
        <div class="container">
            <p style="color:white;">&copy; 2025 بوابة الصحة. جميع الحقوق محفوظة.</p>
        </div>
    </footer>

    <!-- نموذج تسجيل الدخول -->

    <script src="/js/script.js"></script>
    
</body>
</html>